//
//  Secrets.xcconfig
//  JobsMatch
//
//  Created by ivans Android on 9/30/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
SENDBIRD_API_TOKEN =
SENDBIRD_APP_ID =
//supabase below
projectURL = ""
apiKey = ""

VITE_BACKEND_API_URL = 
